# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Marius\SkyDrive\Documents\NTNU-Datateknologi\Semester_2021_Vår\TDT4145_Databasesystemer_og_Datamodellering\Prosjekt\prosjekt-java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

/target/